{% include 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark purple-gradient-rgba">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'addPage' %}">Add Image <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container">
        
    <h1>Welcome...</h1>
        <div class="row">
                <h2 class="text-center col-xs-12">{{image.image_name}}</h2>
        </div>

        <div class="row">
            <img src="{{image.photo.url}}"  class="img-responsive col-xs-12" alt="">
        </div>

        <br>
           
        <div class="row">
            <div class="jumbotron">
                <h2>Image Details</h2>
                <br>
                <h4>Caption: {{image.description}}</h4>
                
                <h4>Location: {{image.location}}</h4>
               
                <br><br><br>
            </div>
        </div>


</div>
{% endblock %}